storage: packages
source https://nuget.org/api/v2

frameworks: netcore

# Add the nuget packages you use here
group CodeGen
  source https://nuget.org/api/v2
  frameworks: net50

  nuget FSharp.Core
  nuget FsPickler

# nuget NETStandard.Library.NETFramework
# nuget System.Text.Encoding.CodePages

group Test
  source https://nuget.org/api/v2
  frameworks: net461, net50

  nuget NUnit
  nuget NUnit.Console
  nuget NUnit3TestAdapter version_in_path: true
  nuget FSharp.Core